@import '~scss/colors';
@import '~scss/variables';

.actions {
  margin: 20px 0 10px 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.keywords-nav-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;

  &> div .mat-stroked-button {
    margin-right: 20px;
  }
}

.keywords-wrapper {
  height: $products-wrapper-height; // same height as products view
}

.counter {
  font-weight: normal;
  height: 100%;
  vertical-align: initial;
}

.error-container {
  text-align: right;
  margin: 5px 0;
  height: 20px;

  p {
    margin: 0;
    padding: 0;
    color: $secondary-gray;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.44px;
  }
}
