<header class="dashboard-header">
  <div class="top">
    <div class="navbar">
      <div class="breadcrumbs-section">
        <div (click)="onLogoClick()" class="app-logo">
          <img src="assets/img/logo.svg" alt="WM logo" />
        </div>
        <ul *ngIf="isExample" class="breadcrumbs-list">
          <li>
            <span>></span>
            <a [routerLink]="getClientPath()"
              [class.current-breadcumb]="!isBrandChoosen">{{ (client$ | async)?.name }}</a>
          </li>
          <li *ngIf="isBrandChoosen && brand">
            <span>></span>
            <a class="current-breadcumb">{{ country.code }} - {{ brand.name }}</a>
          </li>
        </ul>
      </div>
      <div *ngIf="!isExample" class="dashboard-nav">
        <ul class="dashboard-nav__list">
          <li *ngFor="let navItem of dashboardNav" [ngClass]="{ 'current-page': navItem.path === currentRoute }">
            <a [routerLink]="navItem.path" [attr.translate]="navItem.title" [translate]="navItem.title">
            </a>
          </li>
        </ul>
      </div>
      <div class="settings-section">
        <ul class="settings-list">
          <li>
            <button class="standard-button" mat-icon-button (click)="openNews()">
              <span translate="WM_HOME.HEADER.NEWS"></span>
            </button>
          </li>
          <li>
            <div [matMenuTriggerFor]="userMenu" [class.user-button--active]="trigger.menuOpen" #trigger="matMenuTrigger"
              class="user-button">
              <img [src]="userAvatar || defaultAvatar" class="user-button-image" alt="User avatar" />
            </div>
          </li>
        </ul>
        <mat-menu #userMenu="matMenu" class="user-menu">
          <div *ngIf="haveAdminPermissions" class="user-menu__section">
            <span class="user-menu__section-header" translate="WM_HOME.HEADER.ADMINISTRATION"></span>
            <a [routerLink]="['/market-admin']" class="user-menu__section-element"
              translate="WM_HOME.HEADER.MARKET"></a>
            <span class="user-menu__section-element" translate="WM_HOME.HEADER.APP_SETTING"></span>
          </div>
          <div class="user-menu__section">
            <span class="user-menu__section-header" translate="WM_HOME.HEADER.USER"></span>
            <span class="user-menu__section-element" translate="WM_HOME.HEADER.PROFILE"></span>
            <span class="user-menu__section-element" translate="WM_HOME.HEADER.ACCOUNT_SETTINGS"></span>
            <span class="user-menu__section-element"><a [href]="logoutRedirectTo" class="logout"
                translate="WM_HOME.HEADER.LOGOUT"></a></span>
          </div>
          <div class="user-menu__section">
            <span class="user-menu__section-header" translate="WM_HOME.HEADER.CHANGE_LANGUAGE"></span>
            <span class="user-menu__section-element" (click)="changeLanguage('en')" translate="WM_HOME.HEADER.ENGLISH">
            </span>
            <span class="user-menu__section-element" (click)="changeLanguage('pl')" translate="WM_HOME.HEADER.POLISH">
            </span>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
  <div *ngIf="isExample" class="header">
    <video playsinline autoplay loop muted="true" class="wave" #waveAnimation>
      <source src="assets/wave_navigation.mov" type="video/mp4" />
    </video>
    <div class="header-content" [class.header-content--expanded]="isHeaderContentExpanded"
      [class.header-content--full]="!isBrandChoosen">
      <div *ngIf="!isBrandChoosen && client$ | async as client" class="client-section">
        <header>
          <div class="client-container">
            <div class="header-logo">
              <img [src]="client.logo" [alt]="client.name" />
            </div>
            <h3>{{ client.name }}</h3>
          </div>
          <button (click)="toggleClientDescription()" [class.expanded-button]="isDescriptionExpanded">Client
            info</button>
        </header>
        <div *ngIf="isDescriptionExpanded" class="client-section__details">
          {{ client.description }}
        </div>
      </div>
      <div *ngIf="isBrandChoosen && brand" class="client-section">
        <header>
          <div class="brand-container">
            <div class="header-logo">
              <img [src]="brand.logo" [alt]="brand.name" />
            </div>
            <div class="brand-title">
              <span>{{ brand.country.name }}</span>
              <h3>{{ brand.name }}</h3>
            </div>
          </div>
          <button (click)="toggleClientDescription()" [class.expanded-button]="isDescriptionExpanded">Brand
            info</button>
        </header>
        <div *ngIf="isDescriptionExpanded" class="brand-section__details">
          <div class="brand-details-container">
            <div>
              <h5 class="section-title">Categories</h5>

            </div>
            <div>
              <h5 class="section-title">Tags</h5>

            </div>
          </div>
          <div class="brand-details-container">
            <div>
              <h5 class="section-title">Website</h5>
              <a *ngIf="brand.websiteUrl" [href]="brand.websiteUrl">{{ brand.websiteUrl }}</a>
            </div>
            <div>
              <h5 class="section-title">Contact</h5>
              <ul class="details-list">
                <li>
                  {{ brand.contactName }}
                </li>
                <li>
                  {{ brand.contactPhone }}
                </li>
                <li>
                  {{ brand.contactEmail }}
                </li>
              </ul>
            </div>
          </div>
          <div class="brand-details-container">
            <div>
              <h5 class="section-title">Social media</h5>
              <ul class="details-list">
                <li>
                  <a *ngIf="brand.facebookProfileUrl" [href]="brand.facebookProfileUrl">Facebook</a>
                </li>
                <li>
                  <a *ngIf="brand.instagramProfileUrl" [href]="brand.instagramProfileUrl">Instagram</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="markets-container" *ngIf="!isBrandChoosen && client$ | async as client">
        <app-market-list [client]="client"></app-market-list>
      </div>
      <span
        class="breakline-header"
        translate="WM_HOME.HEADER.PROVOCATIVE_PLANNING">
      </span>
      <nav *ngIf="isBrandChoosen" class="application-nav">
        <div *ngFor="let navItem of mainNav" class="application-nav__category"
          [class.disabled-category]="!navItem.nav.length">
          <span class="category-title" [attr.translate]="navItem.title" [translate]="navItem.title">
          </span>

          <ul *ngIf="navItem.nav.length">
            <li *ngFor="let singleNavSection of navItem.nav">
              <h5 class="active" [class.subnav-header]="singleNavSection.subNav.length"
                (click)="handleSectionClick($event, singleNavSection)" [attr.translate]="singleNavSection.title"
                [translate]="singleNavSection.title">
              </h5>
              <ul class="subnav">
                <li *ngFor="let singleSubNavItem of singleNavSection.subNav">
                  <span>
                    <a (click)="changeRoute(singleSubNavItem)" [attr.translate]="singleSubNavItem.title"
                      [translate]="singleSubNavItem.title">
                    </a>
                  </span>
                </li>
              </ul>
            </li>
          </ul>
          <h5 *ngIf="!navItem.nav.length" translate="WM_HOME.NAVIGATION_MAIN.COMING_SOON"></h5>
        </div>
      </nav>
    </div>
    <button *ngIf="isBrandChoosen" (click)="toggleHeaderContent()" class="content-handle"
      [class.content-handle--expanded]="isHeaderContentExpanded">
      <span>
        <mat-icon>drag_handle</mat-icon>
      </span>
    </button>
  </div>
  <app-news-sidebar></app-news-sidebar>
</header>
