@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variables';

:host {
  display: flex;
  flex-direction: column;
}

app-campaign-strategy-keywords-list {
  .keywords-list {
    min-height: $min-height-table-on-views-with-scroll;
    height: $min-height-table-on-views-with-scroll;
    overflow: auto;
  }

  table {
    width: 100%;
  }

  .currency-cell {
    color: $secondary-gray;
  }

  .faded-out {
    .currency-cell {
      color: $border;
    }
  }

  th.mat-column-name, td.mat-column-name {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: unset;
    white-space: nowrap;
    position: relative;

    span {
      background: $white;
    }

    &:after {
      display: inline-block;
      width: 40px;
      position: absolute;
      top: 0;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
      content: "";
      bottom: 0;
      right: 0;
    }

    &:hover {
      overflow: visible;
      &:after {
        display: none;
      }
    }
  }
}

.mat-column {
  &-name {
    @include table-grid-column(5);
  }

  &-searchVolumne {
    @include table-grid-column(2);
  }

  &-arh {
    @include table-grid-column(1);
  }

  &-targetImpsShare {
    @include table-grid-column(1);

    > div {
      margin: -6px 0;
    }
  }

  &-impressions {
    @include table-grid-column(1);
  }

  &-clicks {
    @include table-grid-column(1);
  }

  &-budget {
    @include table-grid-column(1);
  }
}

.mat-checkbox {
  margin-right: 12px;
}
