<label class="title">Ad Format Split</label>
<div class="ad-split">
  <div class="ad-split__container">
    <div class="ad-split__container__item">
      <label
        for="brand-input"
        matTooltip="Sponsored Brands increases awareness of your products"
        matTooltipPosition="above">
        Sponsored Brand
      </label>
      <span class="ad-split__container__item__brand" (click)="brandInput.focus()">
        <input
          #brandInput
          id="brand-input"
          [value]="brandValue"
          maxlength="3"
          (blur)="onEdit('brandValue', $event)"
          (keyup.enter)="onEdit('brandValue', $event)">%
        </span>
    </div>
    <div class="ad-split__container__item">
      <label
        for="product-input"
        matTooltip="Sponsored Products promotes the individual products you sell on Amazon"
        matTooltipPosition="above">
        Sponsored Product
      </label>
      <span class="ad-split__container__item__product" (click)="productInput.focus()">
          <input
            #productInput
            id="product-input"
            [value]="productValue"
            maxlength="3"
            (blur)="onEdit('productValue', $event)"
            (keyup.enter)="onEdit('productValue', $event)">%
        </span>
    </div>
    <div class="ad-split__container__item">
      <label
        for="competitor-input"
        matTooltip="Product Display Ads are product or interest targeted display ads that drive traffic to a product's detail page"
        matTooltipPosition="above">
        Product Display Ad
      </label>
      <span class="ad-split__container__item__competitor" (click)="competitorInput.focus()">
        <input
          #competitorInput
          id="competitor-input"
          [value]="productDisplayValue"
          maxlength="3"
          (blur)="onEdit('productDisplayValue', $event)"
          (keyup.enter)="onEdit('productDisplayValue', $event)">%
        </span>
    </div>
  </div>

  <ng5-slider
    [class.stacked-dots]="productValue === 0"
    [value]="minValue | async"
    [highValue]="maxValue | async"
    [options]="options"
    (userChangeEnd)="onUserChangeEnd($event)"></ng5-slider>

  <ng-container *ngIf="errorMessage">
    <p class="error">{{ errorMessage }}</p>
  </ng-container>
</div>
