@import '~scss/colors';
@import '~scss/mixins';

@mixin slider-border($color) {
  display: block;
  content: "";
  position: absolute;
  width: 2px;
  height: 17px;
  background: $color;
  top: -4px;
  z-index: 1;
  border-radius: 20px;
}

@mixin slider-dot($color) {
  border-radius: 50%;
  top: -6px;
  background-color: $color !important;
  width: 18px !important;
  height: 18px !important;
  outline: none;
  &::after {
    display: none !important;
  }
}

app-campaign-strategy-adsplit {

  .title {
    font-size: 14px;
    letter-spacing: 0.44px;
    line-height: 157%;
  }

  .ad-split {
    @include component-border;
    @include component-shadow;
    padding: 21px 24px 22px;
    margin-top: 8px;

    .error {
      color: $error;
    }

    label {
      font-size: 14px;
      letter-spacing: 0.44px;
      line-height: 157%;
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;

      &__item {
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__brand, &__brand input {
          color: $ads-share-brand-dot;
        }

        &__product, &__product input {
          color: $ads-share-product-dot;
        }

        &__competitor, &__competitor input {
          color: $ads-share-product-display-dot;
        }

        span {
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          line-height: 28px;
          padding-bottom: 3px;
          margin: 10px 0;
          border-bottom: 1px solid white;

          &:hover {
            border-bottom: 1px solid $border;
            cursor: pointer;

            &:after {
              @include material-icon;
              position: absolute;
              content: 'edit';
              right: -30px;
              width: 20px;
              height: 20px;
              font-size: 20px;
              border-bottom: 1px solid $border;
              padding: 8px 5px;
            }
          }

          input {
            text-align: right;
            border: none;
            width: 50px;
            -webkit-appearance: none;
            outline: none;

            &[type=number]::-webkit-inner-spin-button,
            &[type=number]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .ng5-slider {
    margin-top: 0 !important;
    position: relative;

    &.stacked-dots {
      .ng5-slider-pointer.ng5-slider-pointer-min {
        top: -2px;
      }
    }

    &:before {
      @include slider-border($ads-share-brand-line);
      left: 0;
    }

    &:after {
      @include slider-border($ads-share-product-display-line);
      right: 0;
    }
  }

  .ng5-slider {
    .ng5-slider-bar {
      height: 8px !important;
    }

    .ng5-slider-pointer {
      &.ng5-slider-pointer-min {
        @include slider-dot($ads-share-brand-dot);
        box-shadow: 0 0 4px #2962ff70;
      }
      &.ng5-slider-pointer-max {
        @include slider-dot($ads-share-product-dot);
        box-shadow: 0 0 4px #27AE6070;
      }
    }

    .ng5-slider-bar-wrapper {
      &.ng5-slider-left-out-selection .ng5-slider-bar {
        background-color: $ads-share-brand-line !important;
      }
      &.ng5-slider-right-out-selection .ng5-slider-bar {
        background-color: $ads-share-product-display-line !important;
      }
    }

    .ng5-slider-selection {
      background-color: $ads-share-product-line !important;
    }
  }
}

