.mat-calendar {
  height: 330px !important;

  &-controls {
    display: flex;
    justify-content: space-between !important;
    margin-top: 0 !important;
  
    .mat-calendar {
      &-previous-button {
        order: 0;
      }

      &-period-button {
        order: 1;
      }

      &-next-button {
        order: 2;
      }
    }
  }

  &-spacer {
    display: none;
  }

  &-table-header {
    color: $primary !important;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;

    &> tr:nth-child(2) {
      display: none;
    }
  }

  &-body {
    &-selected {
      box-shadow: none !important;
      border-radius: 2px !important;
      background-color: $secondary !important;
    }

    tr:first-child td:first-child {
      visibility: hidden;
      padding: 0 !important;
    }
  }
}
