.mat-tab-nav-bar {
  border-bottom: none !important;
}

.mat-tab-link {
  height: 40px !important;
  text-transform: uppercase;
  font-size: 12px !important;
  line-height: 14px;
  letter-spacing: 0.75px;
  font-style: normal;

  &s {
    height: 40px;

    .mat-raised-button {
      font-size: 12px !important;
      letter-spacing: 0.75px;
      font-style: normal;
      font-weight: 500;
    }
  }

  &:hover {
    color: $secondary !important;
  }
}

.mat-ink-bar {
  bottom: auto !important; // moves active underline to the top, hard to find with chrome tools
  background-color: $secondary !important;
}

.mat-tab-label-active {
  background-color: $white;
  color: $secondary !important;
}

.mat-tab {
  &-nav-bar {
    background-color: $background-secondary;
    margin: 0 -48px;
    padding: 0;
  }

  &-disabled.mat-tab-link {
    color: $secondary-gray !important;
  }

  &-link {
    color: $secondary !important;
    opacity: 1 !important;

    .mat-icon {
      margin-right: 3px;

      &.gray {
        color: $secondary-gray !important;
      }
    }
  }
}

// mat-tab-group - middle tabs

.mat-tab {
  &-group {
    margin-top: 24px;
  }

  &-list {
    left: -2px;
  }

  &-label-content {
    > div {
      margin-left: 0 !important;
    }
    mat-icon {
      height: 18px;
      width: 18px;
      font-size: 20px;
      vertical-align: bottom;
      margin-left: 0 !important;
    }
    span {
      vertical-align: middle;
      margin-left: 0 !important;
    }
  }

  &-header {
    border-bottom: none !important;

    .mat-tab-label {
      background-color: $background-secondary;
      opacity: 1;
      margin-top: -1px;
      color: $secondary-gray;
      width: 25%;
      text-transform: uppercase;

      &s {
        border-bottom: 1px solid $border;
        // this css below with :first-child to last :nth-child makes spaces between middle tabs, only between
        // two inactive ones, there's no space between inactive and active tab

        left: -2px;

        .mat-tab-label:only-child {
          left: 2px !important;
        }

        :first-child.mat-tab-label-active {
          left: 2px;
        }

        :last-child.mat-tab-label-active {
          left: -2px;
        }

        :nth-child(n + 2):not(.mat-tab-label-active) {
          margin-right: 2px;
        }

        :nth-child(-n + 2):not(.mat-tab-label-active) {
          margin-left: 2px;
        }
      }

      &-active {
        background-color: $white;
        border: 1px solid $border;
        border-bottom: none;
        top: 1px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
      }
    }
  }

  &-body {
    border: 1px solid $border;
    border-top: none;
    padding: 0 0 24px 24px;
    border-radius: 2px;

    &-wrapper {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }

    .mat-table {
      padding-right: 16px !important;
    }
  }
}
