.mat-sort-header {
  &-button {
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1.5px;
    font-size: 10px;
  }

  &-stem, &-pointer-middle {
    background: none;
    display: none !important;
  }

  &-indicator {
    top: 3px !important;
  }
}

th[aria-sort="descending"] {
  .mat-sort-header-indicator{
    top: -3px !important;
  }
}

.mat-table {
  border-spacing: 0 10px !important;
  // padding is needed to properly display custom scroll
  padding-right: 42px !important;
  width: 100%;
  table-layout: fixed;

  thead[role="rowgroup"] {
    height: 40px;
  }

  th.mat-header-cell {
    text-transform: uppercase;
    color: $secondary-gray;
    letter-spacing: 1.5px;
    border: 0;
    padding-right: 20px;
    font-size: 10px;
    line-height: 16px;

    &:first-of-type {
      padding-left: 20px;
    }

    &:last-of-type {
      padding-right: 0;
    }

    &.mat-column-checkbox {
      padding-right: 13px;
    }
  }

  tr.mat-header-row {
    height: 20px;
  }

  tr.mat-row {
    height: 60px;
    @include component-shadow;

    &.faded-out {
      box-shadow: none;
      td.mat-cell {
        color: $secondary-gray;
        border-color: $background-secondary;
        &:first-child {
          border-color: $background-secondary;
        }

        &:last-child {
          border-color: $background-secondary;
        }
      }
    }

    &:hover {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      td.mat-cell {
        border-color: $secondary-gray;
        &:first-child {
          border-color: $secondary-gray;
        }

        &:last-child {
          border-color: $secondary-gray;
        }
      }
    }
  }

  td.mat-cell {
    color: $primary;
    font-size: 14px;
    letter-spacing: 0.44px;
    line-height: 129%;
    box-sizing: border-box;
    border: 1px solid $border;
    border-right: 0;
    border-left: 0;
    padding-right: 20px;

    .name-wrapper {
      display: flex;
      align-items: center;
    }

    &:first-child {
      border-left: 1px solid $border;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      padding-left: 20px;
    }

    .avatar {
      margin-right: 12px;
      width: 40px;
      height: 40px;

      img {
        width: inherit;
        height: inherit;
      }
    }

    &.mat-column-checkbox {
      padding-right: 13px;
      width: 53px;
    }

    &:last-child {
      border-right: 1px solid $border;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      padding-right: 20px;
    }
  }
}

td.mat-column-menu {
  color: $border !important;

  .mat-icon {
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $secondary !important;
      transform: rotate(90deg);
    }
  }
}
