<div mat-dialog-title>
  <h1>Delete Product</h1>

  <button
    class="mat-dialog-title__close-button"
    matDialogClose
    matTooltip="Close dialog"
    aria-label="Close dialog">
    <mat-icon
      aria-label="Close">
      close
    </mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <p class="text">That will delete product from list.</p>
  <p class="text">Are you sure?</p>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="accent" (click)="confirmDelete()">Delete</button>
</div>
