<div mat-dialog-title>
  <h1>Add Keywords</h1>

  <button class="mat-dialog-title__close-button" matDialogClose matTooltip="Close dialog">
    <mat-icon aria-label="Close">
      close
    </mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <span class="title"
    >Load keywords <mat-icon class="api-icon" [svgIcon]="'api_connected'"></mat-icon> automatically</span
  >
  <div class="select-keywords-container">
    <span class="select-information">Select the maximum number of keywords (per product) you want to load</span>

    <div class="select-keywords">
      <mat-icon class="keyword-icon" [svgIcon]="'keyword'"></mat-icon>
      <mat-select [formControl]="keywordsAmount" >
        <mat-option *ngFor="let amount of amounts" [value]="amount.value">
          {{ amount.label }}
        </mat-option>
      </mat-select>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="closeDialog()">Cancel</button>
  <button
    class="spinner-button"
    mat-raised-button
    color="accent"
    [disabled]="!keywordsAmount.valid"
    (click)="addKeywords()">
    <mat-spinner *ngIf="isLoading" diameter="18" strokeWidth="2"></mat-spinner>
    <span *ngIf="!isLoading">Load</span>
  </button>
</div>
