.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-wrapper {
  display: flex;
  align-items: center;

  * {
    margin-right: 20px;
  }
}

.question {
  border : 1px solid black;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px;
  padding: 20px;
}
