@import '~src/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch-wrapper {
  display: flex;
  align-items: center;

  * {
    margin-right: 20px;
  }
}

.question {
  border : 1px solid black;
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 20px;
  padding: 20px;
}

@media (min-width: $breakpoint-tablet) {
  .question {
    width: 500px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .question {
    width: 800px;
  }
}
