@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variables';

:host {
  display: flex;
  flex-direction: column;
}

.products-list {
  overflow: auto;
}

table {
  width: 100%;
}

.product-avatar {
  border-radius: 100%;
  background: $background;
  border: 1px solid $border;
}

.mat-column {
  &-product-name {
    width: 100%;

    .mat-form-field {
      width: 100%;
    }
  }

  &-asin {
    width: 120px;
  }

  &-retail-health {
    width: 50px;

    .mat-form-field {
      width: 100%;
    }
  }

  &-priority {
    width: 120px;
  }

  &-delete-button {
    width: 50px;

    .delete-button {
      display: flex;
      justify-content: flex-end;

      .mat-icon {
        color: $secondary-gray;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
