<div #workspaceContainer class="workspace__container">
  <div class="workspace__title">
    <p class="workspace__title-header" translate="WM_HOME.WORKSPACE_WIDGET.WORKSPACES_TITLE"></p>
    <mat-icon
      *ngIf="!isExpanded"
      (click)="onToggleWidget()"
      svgIcon="wm-maximize"
      class="workspace__title-icon"
    ></mat-icon>
    <mat-icon
      *ngIf="isExpanded"
      (click)="onToggleWidget()"
      svgIcon="wm-minimize"
      class="workspace__title-icon"
    ></mat-icon>
  </div>
  <div *ngIf="loading$ | async" class="workspace__spinner">
    <mat-progress-spinner diameter="50" strokeWidth="3" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div *ngIf="!(loading$ | async)" class="workspace__container-expanded__scrollable">
    <p *ngIf="isExpanded" class="workspace__title-subheader" translate="WM_HOME.WORKSPACE_WIDGET.YOUR_CLIENTS"></p>
    <p *ngIf="!myClients?.length" class="workspace__title-subheader" translate="WM_HOME.WORKSPACE_WIDGET.YOU_DONT_HAVE_CLIENTS"></p>
    <div class="workspace__clients">
      <div
        *ngFor="let client of myClients"
        [routerLink]="isExpanded ? getRoute(client.id) : null"
        [class.workspace__clients-tile--large]="isExpanded"
        class="workspace__clients-tile"
      >
        <img
          [src]="client.logo"
          [alt]="client.name"
          [class.workspace__clients-tile--disabled]="!isExpanded"
        />
      </div>
    </div>
    <div *ngIf="isExpanded" class="workspace__container-expanded">
      <p class="workspace__title-subheader" translate="WM_HOME.WORKSPACE_WIDGET.ALL_OTHER_CLIENTS"></p>
      <input
        [(ngModel)]="searchValue"
        (keyup)="onChangeSearchValue()"
        placeholder="Search clients"
        class="workspace__container-expanded__input"
      />
      <p *ngIf="!allClients.length" class="workspace__title-subheader" translate="WM_HOME.WORKSPACE_WIDGET.NO_MORE_CLIENTS"></p>
      <div
        *ngFor="let client of allFilteredClients"
        [routerLink]="getRoute(client.id)"
        class="workspace__clients-list"
      >
        <div class="workspace__clients-list__img">
          <img [src]="client.logo" [alt]="client.name" />
        </div>
        <p class="workspace__clients-list__name">{{ client.name }}</p>
      </div>
    </div>
  </div>
</div>
