@import 'src/scss/variables';

.workspace {
  &__container {
    height: 100%;
    width: 100%;
    color: $wmWhite;

    &-expanded {
      margin: 15px 5px;

      &__scrollable {
        height: calc(100% - 70px);
        overflow-y: auto;
        margin: 0 13px;
        cursor: pointer;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background: $wmBlue5;
        }

        &::-webkit-scrollbar-thumb {
          background: $wmGrey4;
          border-radius: 10px;

          &:hover {
            background: $wmGrey2;
          }
        }
      }

      &__input {
        width: calc(100% - 20px);
        background-color: $wmGrey7;
        color: $wmWhite;
        border: none;
        border-radius: 5px;
        padding: 10px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $wmWhite;
        }
      }
    }
  }

  &__spinner {
    display: flex;
    justify-content: center;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    color: $wmWhite;
    text-transform: uppercase;
    cursor: pointer;

    &-header {
      font-size: 11px;
      margin: 18px;
    }

    &-subheader {
      margin-left: 5px;
      width: fit-content;
    }

    &-icon {
      width: 17px;
      height: 17px;
      margin: 17px;
      cursor: pointer;
    }
  }

  &__clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    &-tile {
      width: 65px;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $wmWhite;
      border-radius: 5px;
      margin: 5px;
      cursor: pointer;

      img {
        width: 40px;
      }

      &--large {
        width: 95px;
        height: 95px;

        img {
          width: 60px;
        }
      }
    }

    &-list {
      width: 100%;
      display: flex;
      border-bottom: 1px $wmGrey7 solid;
      margin: 10px 0;
      padding: 10px 0;

      &__img {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $wmWhite;
        border-radius: 50%;

        img {
          width: 30px;
        }
      }

      &__name {
        margin: 16px 10px;
      }
    }
  }
}
