@import '~src/scss/variables';

.background {
  background: $wmGrey1;
}

.layout {
  min-height: calc(100vh - 76px);
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

.wave {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
  opacity: 0;
  transition: opacity 3s;
  &.on {
    opacity: 1;
  }
}
