<mat-spinner
  diameter="100"
  strokeWidth="5"
  *ngIf="savingCampaign$ | async"></mat-spinner>

<form [formGroup]="form" class="campaign-form" *ngIf="!(savingCampaign$ | async)">
  <div class="campaign-form__name">
    <div class="mat-form-field-with-label">
      <label>Campaign name</label>
      <mat-icon aria-label="icon" svgIcon="campaign_name"></mat-icon>
      <mat-form-field appearance="outline" color="accent">
        <input matInput placeholder="Type campaign name" formControlName="name">
        <mat-error *ngIf="hasError('name', 'required')">
          Required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- <div class="campaign-form__avatar">
    <img src="../../assets/images/default_campaign_avatar.svg" alt="Default campaign avatar">
    <button mat-stroked-button color="accent" (click)="null">Choose image</button>
  </div> -->
  <div class="campaign-form__info">
    <div class="mat-form-field-with-label">
      <label>Client</label>
      <mat-icon aria-label="icon" svgIcon="client"></mat-icon>
      <mat-form-field appearance="outline">
        <mat-select formControlName="clientId" placeholder="Select client">
          <mat-option *ngFor="let client of clients$ | async" [value]="client.id">
            {{ client.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('clientId', 'required')">
          Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mat-form-field-with-label">
      <label>Market</label>
      <mat-icon aria-label="icon" svgIcon="market"></mat-icon>
      <mat-form-field appearance="outline">
        <mat-select formControlName="marketId" placeholder="Select market">
          <mat-option *ngFor="let market of markets$ | async" [value]="market.id">
            <mat-icon
              class="market-supported-icon"
              [svgIcon]="market.supported ? 'api_connected' : 'api_disconnected'"></mat-icon>
            {{ market.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('marketId', 'required')">
          Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mat-form-field-with-label">
      <label>Currency</label>
      <mat-icon aria-label="icon" svgIcon="currency"></mat-icon>
      <div class="currency">
        {{currencyValue$ | async}}
      </div>
    </div>
  </div>
  <div class="campaign-form__dates">
    <div class="mat-form-field-with-label">
      <label>Start date</label>
      <mat-icon aria-label="icon" svgIcon="start_date"></mat-icon>
      <mat-form-field appearance="outline" (click)="startDate.open()">
        <input matInput [matDatepicker]="startDate" placeholder="Select start date" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDate">
          <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
        <mat-error *ngIf="hasError('startDate', 'required')">
          Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mat-form-field-with-label">
      <label>End date</label>
      <mat-icon aria-label="icon" svgIcon="end_date"></mat-icon>
      <mat-form-field appearance="outline" (click)="endDate.open()">
        <input
          matInput
          [matDatepicker]="endDate"
          [min]="form.get('startDate').value"
          placeholder="Select end date"
          formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDate">
          <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
        <mat-error *ngIf="hasError('endDate', 'required')">
          Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mat-form-field-with-label">
      <label>Duration</label>
      <mat-icon aria-label="icon" svgIcon="duration"></mat-icon>
      <mat-form-field appearance="outline" color="accent">
        <input matInput [value]="duration || 0" disabled>
      </mat-form-field>
    </div>
  </div>
  <div class="campaign-form__description">
    <div class="mat-form-field-with-label">
      <label>Description</label>
      <mat-icon aria-label="icon" svgIcon="description"></mat-icon>
      <mat-form-field appearance="outline" class="textarea">
        <textarea
          matInput
          placeholder="Type some description (Optional)"
          formControlName="description"
          maxlength="{{ maxDescriptionLength }}"
          #descriptionTextarea></textarea>
        <mat-hint align="end"> {{ descriptionTextarea.value?.length || 0 }}/{{ maxDescriptionLength }} </mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="campaign-form__buttons">
    <button
      mat-stroked-button
      color="primary"
      type="button"
      (click)="cancel()">
      <mat-icon matPreffix data-position="prefix" svgIcon="back_arrow"></mat-icon>
      Campaigns
    </button>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="form.invalid"
      (click)="saveCampaign($event)">
      Next
      <mat-icon matSuffix data-position="suffix">chevron_right</mat-icon>
    </button>
  </div>
</form>
