@import '~scss/colors';
@import '~scss/mixins';

$table-width: 713px;

.chart {
  width: $table-width;
  .chart-container {
    height: 185px;
  }
  margin: 0 auto;
}

.strategy {
  @include component-shadow;
  border: 1px solid $border;
  margin: -17px auto 12px;
  width: $table-width;
  position: relative;
  &:before {
    content: "Avg. Retail Health";
    display: block;
    position: absolute;
    top: -21px;
    line-height: 124.12%;
    font-size: 11px;
    letter-spacing: 0.44px;
    left: 10px;
    text-align: right;
  }
  &_row {
    display: flex;
    flex-direction: row;

    div {
      width: 100%;
      padding: 14px 4px;
      align-items: center;
      letter-spacing: 0.44px;
      line-height: 18px;
      font-size: 14px;
      text-align: center;
      align-self: center;
      vertical-align: middle;

      display: flex;
      justify-content: center;
      position: relative;

      &:last-of-type {
        margin-right: 14px;
      }

      span {
        border-bottom: 1px solid white;
        margin-bottom: -1px;
        padding: 5px 0;
      }

      input {
        padding: 0;
        margin: 0;
        border: 0;
        outline: none;
        text-align: right;
        max-width: 100%;
        font-size: 14px;
        width: 50%;
        background: none;
      }

      &:first-of-type {
        background: $background;
        color: $secondary-gray;
        text-align: left;
        padding-right: 14px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 10px;
        justify-content: flex-start;
        border-right: 1px solid $border;
        min-width: 110px;
        max-width: 110px;
        padding-left: 10px;
      }
    }

    &.strategy__row--editable {
      div {
        margin: -5px 0;

        &:last-of-type {
          margin-right: 14px;
        }

        &:hover {
          &:not(:first-of-type) {
            span {
              border-bottom: 1px solid $border;
            }

            &:after {
              @include material-icon;
              position: absolute;
              content: 'edit';
              right: -8px;
              width: 14px;
              height: 14px;
              font-size: 14px;
              border-bottom: 1px solid $border;
              padding: 8px 2px;
              color: $secondary-gray;
            }
          }
        }
      }
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid $border;
    }
  }
}

.dialog-wrapper {
  position: relative;
}

.navigation-button {
  position: absolute;

  height: 180px;
  width: 24px;
  color: $secondary-gray;
  background: $background-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
  transition: background-color 100ms ease-out;
  user-select: none;
  &:hover {
    transition: background-color 100ms ease-in;
    background: $secondary;
    color: $white;
  }
  mat-icon {
    font-size: 12px;
    width: 12px;
    height: 12px;
    margin: 0 auto;
  }
  &__previous {
    left: -24px;
  }
  &__next {
    right: -24px;
  }
}

.mat-dialog-actions {
  align-items: flex-end;
  justify-content: flex-end;
  padding: 12px 24px 24px;

  button {
    margin-left: 24px;
  }
}
