<div *ngIf="(strategies$ | async) as strategies" class="dialog-wrapper">
  <div mat-dialog-title>
    <h1>{{ startCase(strategies[currentStrategyIndex].name) }} Strategy</h1>

    <button
      class="mat-dialog-title__close-button"
      matDialogClose
      matTooltip="Close dialog"
      aria-label="...">
      <mat-icon
        aria-label="Close">
        close
      </mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="navigation-button navigation-button__previous"
         (click)="previousStrategy()">
      <mat-icon>arrow_back_ios</mat-icon>
    </div>
    <div class="navigation-button navigation-button__next"
         (click)="nextStrategy()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
    <div class="chart">
      <app-campaign-strategy-chart-legend></app-campaign-strategy-chart-legend>
      <app-campaign-strategy-chart
        [customOptions]="chartOptions"
        [strategyData]="strategies[currentStrategyIndex]"
        class="strategy-chart"></app-campaign-strategy-chart>
    </div>
    <div class="strategy"
         *ngIf="!strategies[currentStrategyIndex].campaignId">
      <div class="strategy_row">
        <div>Brand</div>
        <div *ngFor="let value of strategies[currentStrategyIndex][keywordTypes.BRAND]">{{ value }}%</div>
      </div>
      <div class="strategy_row">
        <div>Generic</div>
        <div *ngFor="let value of strategies[currentStrategyIndex][keywordTypes.GENERIC]">{{ value }}%</div>
      </div>
      <div class="strategy_row">
        <div>Competitors</div>
        <div *ngFor="let value of strategies[currentStrategyIndex][keywordTypes.COMPETITOR]">{{ value }}%</div>
      </div>
    </div>
    <div class="strategy"
         *ngIf="strategies[currentStrategyIndex].campaignId">
      <div class="strategy_row strategy__row--editable">
        <div>Brand</div>
        <div *ngFor="let value of userStrategy[keywordTypes.BRAND]; trackBy: trackByFn; let index = index">
          <span>
            <input
              matInput
              placeholder="-"
              (change)="setValue(impShare, index, keywordTypes.BRAND)"
              #impShare
              [value]="value">%
            </span>
        </div>
      </div>
      <div class="strategy_row strategy__row--editable">
        <div>Generic</div>
        <div *ngFor="let value of userStrategy[keywordTypes.GENERIC]; trackBy: trackByFn; let index = index">
          <span>
            <input
              matInput
              placeholder="-"
              #impShare
              (change)="setValue(impShare, index, keywordTypes.GENERIC)"
              [value]="value">%
            </span>
        </div>
      </div>
      <div class="strategy_row strategy__row--editable">
        <div>Competitors</div>
        <div *ngFor="let value of userStrategy[keywordTypes.COMPETITOR]; trackBy: trackByFn; let index = index">
          <span>
            <input
              matInput
              placeholder="-"
              (change)="setValue(impShare, index, keywordTypes.COMPETITOR)"
              #impShare
              [value]="value">%
            </span>
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button (click)="closeDialog()">Cancel</button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="!isStrategyValid(strategies[currentStrategyIndex])"
      (click)="chooseStrategy(strategies[currentStrategyIndex].id)">
      Choose
    </button>
  </div>
</div>
