<app-layout [isExample]="true">
  <div class="content">
    <h1 class="mat-display-1">WM NG Components</h1>
    <wm-material>
      <div class="wm-ng-components-showcase">
        <h1 class="mat-display-1">WM NG Components</h1>
        <wm-material>
          <div class="wm-ng-components-showcase">
            <h2>> Colors</h2>
            <p>UI colors</p>
            <ul>
              <li>$wmAubergine1: <span class="wmAubergine1">#9B5C81;</span></li>
              <li>$wmAubergine2: <span class="wmAubergine2">#682A4E;</span></li>
              <li>$wmAubergine3: <span class="wmAubergine3">#36122E;</span></li>
              <li>$wmBlue1: <span class="wmBlue1">#B5C1DE;</span></li>
              <li>$wmBlue2: <span class="wmBlue2">#273247;</span></li>
              <li>$wmBlue3: <span class="wmBlue3">#778FC5;</span></li>
              <li>$wmBlue4: <span class="wmBlue4">#244CA4;</span></li>
              <li>$wmBlue5: <span class="wmBlue5s">#1D1D32;</span></li>
            </ul>

            <p>Black & Grey</p>
            <ul>
              <li>$wmWhite: <span class="wmWhite">#FFFFFF;</span></li>
              <li>$wmGrey1: <span class="wmGrey1">#F3F4F7;</span></li>
              <li>$wmGrey2: <span class="wmGrey2">#D7D7E0;</span></li>
              <li>$wmGrey3: <span class="wmGrey3">#ACACBB;</span></li>
              <li>$wmGrey4: <span class="wmGrey4">#757585;</span></li>
              <li>$wmGrey5: <span class="wmGrey5">#B8B8C6;</span></li>
              <li>$wmGrey6: <span class="wmGrey6">#B3B3B3;</span></li>
              <li>$wmGrey7: <span class="wmGrey7">#273247;</span></li>
              <li>$wmGrey8: <span class="wmGrey8">#1C1B21;</span></li>
            </ul>

            <p>System messaging colours</p>
            <ul>
              <li>$wmRed1: <span class="wmRed1">#FBE4E5;</span></li>
              <li>$wmRed2: <span class="wmRed2">#F59099;</span></li>
              <li>$wmRed3: <span class="wmRed3">#F0516D;</span></li>
              <li>$wmRed4: <span class="wmRed4">#E74854;</span></li>
              <li>$wmGreen1: <span class="wmGreen1">#EAF7F1;</span></li>
              <li>$wmGreen2: <span class="wmGreen2">#47A68C;</span></li>
            </ul>

            <p>Data visualisation extended pallette</p>
            <ul>
              <li>$wmYellow1: <span class="wmYellow1">#F4DEB9;</span></li>
              <li>$wmYellow2: <span class="wmYellow2">#F6CA7C;</span></li>
              <li>$wmYellow3: <span class="wmYellow3">#F8AF2A;</span></li>
              <li>$wmOrange1: <span class="wmOrange1">#FFE5DA;</span></li>
              <li>$wmOrange2: <span class="wmOrange2">#F9CBB7;</span></li>
              <li>$wmOrange3: <span class="wmOrange3">#F39F79;</span></li>
              <li>$wmOrange4: <span class="wmOrange4">#ED6B31;</span></li>
              <li>$wmPurple1: <span class="wmPurple1">#CDC5E5;</span></li>
              <li>$wmPurple2: <span class="wmPurple2">#A796D4;</span></li>
              <li>$wmPurple3: <span class="wmPurple3">#7559BC;</span></li>
            </ul>

            <hr>

            <h2>> Headings</h2>

            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>

            <hr>

            <h2>> Other typography</h2>
            <p class="txt--subtitle">Subtitle</p>
            <p class="txt--body">Body</p>
            <p class="txt--body"><small>Body Small</small></p>
            <p class="txt--cta">CTA</p>
            <p class="txt--caption">Caption</p>
            <p class="txt--caption"><small>Caption Small</small></p>
            <p class="txt--overline">Overline</p>
            <p class="txt--link">Link</p>
            <p class="txt--link"><small>Link Small</small></p>
            <hr>

            <h2>> Add Buttons</h2>
            <button mat-fab color="primary">
              <i-feather name="plus"></i-feather>
            </button>
            <button mat-fab color="primary" routerLinkActive="mat-accent">
              <i-feather name="plus"></i-feather>
            </button>
            <button mat-fab color="primary" disabled>
              <i-feather name="plus"></i-feather>
            </button>

            <hr>

            <h2>> Primary buttons</h2>
            <button mat-raised-button color="primary">Text</button>
            <button mat-raised-button color="primary" routerLinkActive="mat-accent">Text</button>
            <button mat-raised-button color="primary" disabled>Text</button>

            <hr>

            <h2>> Secondary Buttons</h2>
            <button mat-stroked-button color="primary">Edit</button>
            <button mat-stroked-button color="primary" routerLinkActive="mat-accent">Edit</button>
            <button mat-stroked-button color="primary" disabled>Edit</button>

            <hr>

            <h2>> Tertiary Buttons.</h2>
            <button mat-stroked-button color="primary" class="mat-tertiary">Edit</button>
            <button mat-stroked-button color="primary" routerLinkActive="mat-accent" class="mat-tertiary">Edit</button>
            <button mat-stroked-button color="primary" disabled class="mat-tertiary">Edit</button>

            <hr>

            <h2>> Toggles</h2>
            <mat-slide-toggle color="primary"></mat-slide-toggle>
            <br>
            <mat-slide-toggle color="primary" checked></mat-slide-toggle>

            <hr>

            <h2>> Chip buttons</h2>
            <button mat-stroked-button color="primary" class="chip-button">Drive awareness</button>
            <button mat-stroked-button color="primary" routerLinkActive="mat-accent" class="chip-button">
              Drive awareness
            </button>
            <button mat-stroked-button color="primary" disabled class="chip-button">Drive awareness</button>

            <hr>

            <h2>> Main Navbar Buttons</h2>
            <mat-tab-group color="primary">
              <mat-tab label="Button text">
              </mat-tab>
              <mat-tab label="Button text">
              </mat-tab>
              <mat-tab label="Button text" disabled>
              </mat-tab>
            </mat-tab-group>

            <hr>

            <h2>> Tabs</h2>
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  #. Tab name
                </ng-template>
                <p>Lorem wavemaker dolor</p>
              </mat-tab>
              <mat-tab disabled>
                <ng-template mat-tab-label>
                  #. Tab name disabled
                </ng-template>
                <p>Lorem wavemaker dolor</p>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  #. Tab name
                </ng-template>
                <p>asdasdasdasd</p>
              </mat-tab>
            </mat-tab-group>

            <mat-tab-group class="mat-tab-group-small">
              <mat-tab>
                <ng-template mat-tab-label>
                  #. Tab name
                </ng-template>
                <p>Lorem wavemaker dolor</p>
              </mat-tab>
              <mat-tab disabled>
                <ng-template mat-tab-label>
                  #. Tab name disabled
                </ng-template>
                <p>Lorem wavemaker dolor</p>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  #. Tab name
                </ng-template>
                <p>asdasdasdasd</p>
              </mat-tab>
            </mat-tab-group>

            <hr>

            <h2>> Navigation buttons</h2>
            <button mat-fab color="primary" class="mat-fab-arrow">
              <i-feather name="chevron-left"></i-feather>
            </button>
            <button mat-fab color="primary" class="mat-fab-arrow">
              <i-feather name="chevron-right"></i-feather>
            </button>

            <hr>

            <h2>> Logic buttons</h2>

            <mat-chip-list aria-label="Fish selection">
              <mat-chip color="primary" selected>And</mat-chip>
              <mat-chip color="accent" selected>Or</mat-chip>
              <mat-chip color="warn" selected>Or Not</mat-chip>
              <mat-chip color="warn" selected>And Not</mat-chip>
              <mat-chip color="warn" selected>Not</mat-chip>
            </mat-chip-list>

            <hr>

            <h2>> Function buttons</h2>
            <i-feather name="grid"></i-feather>
            <br>
            <i-feather name="menu"></i-feather>

            <hr>

            <h2>> Search module</h2>
            <mat-form-field color="primary">
              <input matInput type="text" placeholder="Label" value="Text">
              <mat-error>Min size: 10px</mat-error>
            </mat-form-field>

            <hr>

            <h2>> Checkboxes & radios</h2>
            <mat-checkbox color="primary" checked></mat-checkbox>
            <br>
            <mat-checkbox color="primary" disabled></mat-checkbox>
            <br>
            <mat-radio-button color="primary"></mat-radio-button>
            <br>
            <mat-radio-button color="primary" disabled></mat-radio-button>
            <br>
            <mat-radio-button color="primary" name="test" checked disabled></mat-radio-button>

            <hr>

            <h2>> Slider </h2>

            <mat-slider color="primary" max="5" min="1" step="1" thumbLabel tickInterval="1"> </mat-slider>
            <br>
            <mat-slider color="primary" max="3" min="1" step="1" tickInterval="1"> </mat-slider>

            <hr>

            <h2>Feather Icons</h2>
            <div class="feather-icon-set">
              <i-feather name="activity"></i-feather>
              <i-feather name="airplay"></i-feather>
              <i-feather name="alert-circle"></i-feather>
              <i-feather name="alert-octagon"></i-feather>
              <i-feather name="alert-triangle"></i-feather>
              <i-feather name="align-center"></i-feather>
              <i-feather name="align-justify"></i-feather>
              <i-feather name="align-left"></i-feather>
              <i-feather name="align-right"></i-feather>
              <i-feather name="anchor"></i-feather>
              <i-feather name="aperture"></i-feather>
              <i-feather name="archive"></i-feather>
              <i-feather name="arrow-down-circle"></i-feather>
              <i-feather name="arrow-down-left"></i-feather>
              <i-feather name="arrow-down-right"></i-feather>
              <i-feather name="arrow-down"></i-feather>
              <i-feather name="arrow-left-circle"></i-feather>
              <i-feather name="arrow-left"></i-feather>
              <i-feather name="arrow-right-circle"></i-feather>
              <i-feather name="arrow-right"></i-feather>
              <i-feather name="arrow-up-circle"></i-feather>
              <i-feather name="arrow-up-left"></i-feather>
              <i-feather name="arrow-up-right"></i-feather>
              <i-feather name="arrow-up"></i-feather>
              <i-feather name="at-sign"></i-feather>
              <i-feather name="award"></i-feather>
              <i-feather name="bar-chart-2"></i-feather>
              <i-feather name="bar-chart"></i-feather>
              <i-feather name="battery-charging"></i-feather>
              <i-feather name="battery"></i-feather>
              <i-feather name="bell-off"></i-feather>
              <i-feather name="bell"></i-feather>
              <i-feather name="bluetooth"></i-feather>
              <i-feather name="bold"></i-feather>
              <i-feather name="book-open"></i-feather>
              <i-feather name="book"></i-feather>
              <i-feather name="bookmark"></i-feather>
              <i-feather name="box"></i-feather>
              <i-feather name="briefcase"></i-feather>
              <i-feather name="calendar"></i-feather>
              <i-feather name="camera-off"></i-feather>
              <i-feather name="camera"></i-feather>
              <i-feather name="cast"></i-feather>
              <i-feather name="check-circle"></i-feather>
              <i-feather name="check-square"></i-feather>
              <i-feather name="check"></i-feather>
              <i-feather name="chevron-down"></i-feather>
              <i-feather name="chevron-left"></i-feather>
              <i-feather name="chevron-right"></i-feather>
              <i-feather name="chevron-up"></i-feather>
              <i-feather name="chevrons-down"></i-feather>
              <i-feather name="chevrons-left"></i-feather>
              <i-feather name="chevrons-right"></i-feather>
              <i-feather name="chevrons-up"></i-feather>
              <i-feather name="chrome"></i-feather>
              <i-feather name="circle"></i-feather>
              <i-feather name="clipboard"></i-feather>
              <i-feather name="clock"></i-feather>
              <i-feather name="cloud-drizzle"></i-feather>
              <i-feather name="cloud-lightning"></i-feather>
              <i-feather name="cloud-off"></i-feather>
              <i-feather name="cloud-rain"></i-feather>
              <i-feather name="cloud-snow"></i-feather>
              <i-feather name="cloud"></i-feather>
              <i-feather name="code"></i-feather>
              <i-feather name="codepen"></i-feather>
              <i-feather name="codesandbox"></i-feather>
              <i-feather name="coffee"></i-feather>
              <i-feather name="columns"></i-feather>
              <i-feather name="command"></i-feather>
              <i-feather name="compass"></i-feather>
              <i-feather name="copy"></i-feather>
              <i-feather name="corner-down-left"></i-feather>
              <i-feather name="corner-down-right"></i-feather>
              <i-feather name="corner-left-down"></i-feather>
              <i-feather name="corner-left-up"></i-feather>
              <i-feather name="corner-right-down"></i-feather>
              <i-feather name="corner-right-up"></i-feather>
              <i-feather name="corner-up-left"></i-feather>
              <i-feather name="corner-up-right"></i-feather>
              <i-feather name="cpu"></i-feather>
              <i-feather name="credit-card"></i-feather>
              <i-feather name="crop"></i-feather>
              <i-feather name="crosshair"></i-feather>
              <i-feather name="database"></i-feather>
              <i-feather name="delete"></i-feather>
              <i-feather name="disc"></i-feather>
              <i-feather name="dollar-sign"></i-feather>
              <i-feather name="download-cloud"></i-feather>
              <i-feather name="download"></i-feather>
              <i-feather name="droplet"></i-feather>
              <i-feather name="edit-2"></i-feather>
              <i-feather name="edit-3"></i-feather>
              <i-feather name="edit"></i-feather>
              <i-feather name="external-link"></i-feather>
              <i-feather name="eye-off"></i-feather>
              <i-feather name="eye"></i-feather>
              <i-feather name="facebook"></i-feather>
              <i-feather name="fast-forward"></i-feather>
              <i-feather name="feather"></i-feather>
              <i-feather name="figma"></i-feather>
              <i-feather name="file-minus"></i-feather>
              <i-feather name="file-plus"></i-feather>
              <i-feather name="file-text"></i-feather>
              <i-feather name="file"></i-feather>
              <i-feather name="film"></i-feather>
              <i-feather name="filter"></i-feather>
              <i-feather name="flag"></i-feather>
              <i-feather name="folder-minus"></i-feather>
              <i-feather name="folder-plus"></i-feather>
              <i-feather name="folder"></i-feather>
              <i-feather name="framer"></i-feather>
              <i-feather name="frown"></i-feather>
              <i-feather name="gift"></i-feather>
              <i-feather name="git-branch"></i-feather>
              <i-feather name="git-commit"></i-feather>
              <i-feather name="git-merge"></i-feather>
              <i-feather name="git-pull-request"></i-feather>
              <i-feather name="github"></i-feather>
              <i-feather name="gitlab"></i-feather>
              <i-feather name="globe"></i-feather>
              <i-feather name="grid"></i-feather>
              <i-feather name="hard-drive"></i-feather>
              <i-feather name="hash"></i-feather>
              <i-feather name="headphones"></i-feather>
              <i-feather name="heart"></i-feather>
              <i-feather name="help-circle"></i-feather>
              <i-feather name="hexagon"></i-feather>
              <i-feather name="home"></i-feather>
              <i-feather name="image"></i-feather>
              <i-feather name="inbox"></i-feather>
              <i-feather name="info"></i-feather>
              <i-feather name="instagram"></i-feather>
              <i-feather name="italic"></i-feather>
              <i-feather name="key"></i-feather>
              <i-feather name="layers"></i-feather>
              <i-feather name="layout"></i-feather>
              <i-feather name="life-buoy"></i-feather>
              <i-feather name="link-2"></i-feather>
              <i-feather name="link"></i-feather>
              <i-feather name="linkedin"></i-feather>
              <i-feather name="list"></i-feather>
              <i-feather name="loader"></i-feather>
              <i-feather name="lock"></i-feather>
              <i-feather name="log-in"></i-feather>
              <i-feather name="log-out"></i-feather>
              <i-feather name="mail"></i-feather>
              <i-feather name="map-pin"></i-feather>
              <i-feather name="map"></i-feather>
              <i-feather name="maximize-2"></i-feather>
              <i-feather name="maximize"></i-feather>
              <i-feather name="meh"></i-feather>
              <i-feather name="menu"></i-feather>
              <i-feather name="message-circle"></i-feather>
              <i-feather name="message-square"></i-feather>
              <i-feather name="mic-off"></i-feather>
              <i-feather name="mic"></i-feather>
              <i-feather name="minimize-2"></i-feather>
              <i-feather name="minimize"></i-feather>
              <i-feather name="minus-circle"></i-feather>
              <i-feather name="minus-square"></i-feather>
              <i-feather name="minus"></i-feather>
              <i-feather name="monitor"></i-feather>
              <i-feather name="moon"></i-feather>
              <i-feather name="more-horizontal"></i-feather>
              <i-feather name="more-vertical"></i-feather>
              <i-feather name="mouse-pointer"></i-feather>
              <i-feather name="move"></i-feather>
              <i-feather name="music"></i-feather>
              <i-feather name="navigation-2"></i-feather>
              <i-feather name="navigation"></i-feather>
              <i-feather name="octagon"></i-feather>
              <i-feather name="package"></i-feather>
              <i-feather name="paperclip"></i-feather>
              <i-feather name="pause-circle"></i-feather>
              <i-feather name="pause"></i-feather>
              <i-feather name="pen-tool"></i-feather>
              <i-feather name="percent"></i-feather>
              <i-feather name="phone-call"></i-feather>
              <i-feather name="phone-forwarded"></i-feather>
              <i-feather name="phone-incoming"></i-feather>
              <i-feather name="phone-missed"></i-feather>
              <i-feather name="phone-off"></i-feather>
              <i-feather name="phone-outgoing"></i-feather>
              <i-feather name="phone"></i-feather>
              <i-feather name="pie-chart"></i-feather>
              <i-feather name="play-circle"></i-feather>
              <i-feather name="play"></i-feather>
              <i-feather name="plus-circle"></i-feather>
              <i-feather name="plus-square"></i-feather>
              <i-feather name="plus"></i-feather>
              <i-feather name="pocket"></i-feather>
              <i-feather name="power"></i-feather>
              <i-feather name="printer"></i-feather>
              <i-feather name="radio"></i-feather>
              <i-feather name="refresh-ccw"></i-feather>
              <i-feather name="refresh-cw"></i-feather>
              <i-feather name="repeat"></i-feather>
              <i-feather name="rewind"></i-feather>
              <i-feather name="rotate-ccw"></i-feather>
              <i-feather name="rotate-cw"></i-feather>
              <i-feather name="rss"></i-feather>
              <i-feather name="save"></i-feather>
              <i-feather name="scissors"></i-feather>
              <i-feather name="search"></i-feather>
              <i-feather name="send"></i-feather>
              <i-feather name="server"></i-feather>
              <i-feather name="settings"></i-feather>
              <i-feather name="share-2"></i-feather>
              <i-feather name="share"></i-feather>
              <i-feather name="shield-off"></i-feather>
              <i-feather name="shield"></i-feather>
              <i-feather name="shopping-bag"></i-feather>
              <i-feather name="shopping-cart"></i-feather>
              <i-feather name="shuffle"></i-feather>
              <i-feather name="sidebar"></i-feather>
              <i-feather name="skip-back"></i-feather>
              <i-feather name="skip-forward"></i-feather>
              <i-feather name="slack"></i-feather>
              <i-feather name="slash"></i-feather>
              <i-feather name="sliders"></i-feather>
              <i-feather name="smartphone"></i-feather>
              <i-feather name="smile"></i-feather>
              <i-feather name="speaker"></i-feather>
              <i-feather name="square"></i-feather>
              <i-feather name="star"></i-feather>
              <i-feather name="stop-circle"></i-feather>
              <i-feather name="sun"></i-feather>
              <i-feather name="sunrise"></i-feather>
              <i-feather name="sunset"></i-feather>
              <i-feather name="tablet"></i-feather>
              <i-feather name="tag"></i-feather>
              <i-feather name="target"></i-feather>
              <i-feather name="terminal"></i-feather>
              <i-feather name="thermometer"></i-feather>
              <i-feather name="thumbs-down"></i-feather>
              <i-feather name="thumbs-up"></i-feather>
              <i-feather name="toggle-left"></i-feather>
              <i-feather name="toggle-right"></i-feather>
              <i-feather name="tool"></i-feather>
              <i-feather name="trash-2"></i-feather>
              <i-feather name="trash"></i-feather>
              <i-feather name="trello"></i-feather>
              <i-feather name="trending-down"></i-feather>
              <i-feather name="trending-up"></i-feather>
              <i-feather name="triangle"></i-feather>
              <i-feather name="truck"></i-feather>
              <i-feather name="tv"></i-feather>
              <i-feather name="twitch"></i-feather>
              <i-feather name="twitter"></i-feather>
              <i-feather name="type"></i-feather>
              <i-feather name="umbrella"></i-feather>
              <i-feather name="underline"></i-feather>
              <i-feather name="unlock"></i-feather>
              <i-feather name="upload-cloud"></i-feather>
              <i-feather name="upload"></i-feather>
              <i-feather name="user-check"></i-feather>
              <i-feather name="user-minus"></i-feather>
              <i-feather name="user-plus"></i-feather>
              <i-feather name="user-x"></i-feather>
              <i-feather name="user"></i-feather>
              <i-feather name="users"></i-feather>
              <i-feather name="video-off"></i-feather>
              <i-feather name="video"></i-feather>
              <i-feather name="voicemail"></i-feather>
              <i-feather name="volume-1"></i-feather>
              <i-feather name="volume-2"></i-feather>
              <i-feather name="volume-x"></i-feather>
              <i-feather name="volume"></i-feather>
              <i-feather name="watch"></i-feather>
              <i-feather name="wifi-off"></i-feather>
              <i-feather name="wifi"></i-feather>
              <i-feather name="wind"></i-feather>
              <i-feather name="x-circle"></i-feather>
              <i-feather name="x-octagon"></i-feather>
              <i-feather name="x-square"></i-feather>
              <i-feather name="x"></i-feather>
              <i-feather name="youtube"></i-feather>
              <i-feather name="zap-off"></i-feather>
              <i-feather name="zap"></i-feather>
              <i-feather name="zoom-in"></i-feather>
              <i-feather name="zoom-out"></i-feather>
            </div>
          </div>
        </wm-material>
      </div>
    </wm-material>
  </div>
</app-layout>
