@import '~scss/colors';
@import '~scss/mixins';

mat-tab-group {
  margin-top: 20px;
}

.campaign-info {
  margin: 20px 0;
}

.ad-format-split-table {
  @include component-shadow();
  @include component-border();
  margin: 0;

  &__header {
    font-size: 14px;
    letter-spacing: 0.44px;
    line-height: 157%;
    margin-bottom: 9px;
  }
}

.data-table {
  &.mat-table {
    padding-right: 0 !important;
    border-spacing: 0 !important;
    tr {
      &.mat-header-row {
        height: 48px;
        .mat-header-cell {
          padding-right: 0;
          padding-left: 24px;
          &:last-of-type {
            padding-right: 24px;
          }
          &.border-left {
            border-left: 1px solid $border;
            border-top: 1px solid $border;
            border-top-left-radius: 2px;
          }
          &.border-center {
            border-top: 1px solid $border;
          }
          &.border-right {
            border-right: 1px solid $border;
            border-top: 1px solid $border;
            border-top-right-radius: 2px;
          }
        }
      }
      &.mat-row {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        &:hover {
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
          td.mat-cell {
            border-color: $border;
          }
        }
        &:last-of-type {
          td.mat-cell {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
      &.mat-footer-row {
        background: #F5F5F5;
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.09);
        td.mat-footer-cell {
          &:first-of-type {
            border-left: 1px solid $border;
            border-bottom-left-radius: 2px;
          }
          &:last-of-type {
            border-right: 1px solid $border;
            border-bottom-right-radius: 2px;
          }
        }
      }
      &.mat-row, &.mat-footer-row {
        height: 48px;
        &:not(:last-of-type) {
          td.mat-cell {
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        &:not(:first-of-type) {
          td.mat-cell {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
        td.mat-cell, td.mat-footer-cell {
          padding-right: 0;
          padding-left: 24px;
          &:last-of-type {
            padding-right: 24px;
          }
          &.border-left {
            border-left: 1px solid $border;
          }
          &.border-right {
            border-right: 1px solid $border;
            padding-right: 24px;
          }
        }
      }
    }
  }
}

.mat-column {
  &-type {
    width: 13%;
  }
  &-arh {
    width: 9%;
  }
  &-brand, &-product, &-productDisplay {
    width: 20%;
  }
  &-budget {
    width: 18%;
  }
}


.keywords-nav-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;

  &> .campaigns-button {
    margin-left: 20px;
    color: $white;

    .mat-icon {
      color: $white;
      transform: rotate(180deg);
    }
  }
}

.row-value {
  float: right;
  margin-right: 50px;

  &-budget { 
    margin-right: 0px;
  }
}

.currency-cell {
  color: $secondary-gray;
}

.split-chart-container {
  display: flex;
  flex-direction: row;

  .ad-format-split-table {
    width: 100%;
  }

  .strategy-chart {
    @include component-shadow;
    width: 33%;
    margin-left: 20px;
    border: 1px solid $border;
    padding: 24px 28px 0;
    box-sizing: content-box;

    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 9px;

      label {
        font-size: 14px;
        letter-spacing: 0.44px;
        line-height: 157%;
      }

      app-campaign-strategy-chart-legend {
        width: 60%;
        align-self: center;
      }
    }
  }
}
