.answer {
  display: flex;
  margin: 15px 0;
  cursor: pointer;
  font-size: 22px;
  justify-content: space-between;
}

.correct {
  background-color: #90A959;
}

.wrong {
  background-color: #FF220C;
}

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  
  input[type=checkbox].css-checkbox {
      position: absolute; 
      overflow: hidden; 
      clip: rect(0 0 0 0); 
      height:1px; 
      width:1px; 
      margin:-1px; 
      padding:0;
      border:0;
  }
  
  input[type=checkbox].css-checkbox + label.css-label {
    padding: 20px;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 18px;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
  }
  .red-check{
    background-image:url(../../assets/red-check.png);
  }
  .no-check{
    background-image:url(../../assets/no-check.png);
  }
