@import '~src/variables';

.header-wrapper {
  display: flex;
  width: 300px;
  align-items: center;
  margin: 5px 5px;
  cursor: pointer;
}

.header {
  font-size: 14px;
  margin: 0 0 0 10px;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}

@media (min-width: $breakpoint-tablet) {
  .header-wrapper {
    width: 483px;
    margin: 16px 75px;
  }
  
  .header {
    font-size: 24px;
    margin: 0 0 0 15px;
  }
}
