@import 'src/scss/variables';

.contacts-tiles {
  margin: 0 auto;
  width: 1545px;
  padding-left: 0;
  margin-top: 40px;

  li {
    height: 240px;
    width: 169px;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 430px) {
  .contacts-tiles {
    width: 200px;
  }
}

@media screen and (min-width: 431px) and (max-width: 700px) {
  .contacts-tiles {
    width: 400px;
  }
}

@media screen and (min-width: 701px) and (max-width: 830px) {
  .contacts-tiles {
    width: 600px;
  }
}

@media screen and (min-width: 831px) and (max-width: 1030px) {
  .contacts-tiles {
    width: 800px;
  }
}

@media screen and (min-width: 1031px) and (max-width: 1300px) {
  .contacts-tiles {
    width: 965px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
  .contacts-tiles {
    width: 1160px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1700px) {
  .contacts-tiles {
    width: 1360px;
  }
}

.contacts-list {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  padding: 20px 60px 0 60px;
  margin: 0;
  width: 100%;
  background: $wmWhite;

  header {
    color: $wmBlue5;
    font-size: 12px;

    span {
      padding-right: 330px;
    }
  }

  li {
    padding-left: 10px;
    border-bottom: 1px solid $wmGrey2;
    cursor: pointer;

    &:hover {
      background: $wmGrey1;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
