<nav class="application-nav">
  <div class="market-toggle">
    <mat-slide-toggle color="primary" [formControl]="isShowedOnlyMineMarkets" (change)="toggleMarketsFilter()">
    </mat-slide-toggle>
    <span>Show only markets I have access to</span>
  </div>
  <div *ngFor="let navItem of regionsList">
    <div *ngIf="navItem.markets.length" class="application-nav__category">
      <span class="category-title">
        {{ navItem.name }}
      </span>

      <ul>
        <li *ngFor="let country of navItem.markets">
          <!-- [class.subnav-header]="country.countryBrands.length" -->
          <h5 class="active subnav-header" [class.not-allowed]="!country.mine"
            (click)="handleSectionClick($event, country.code, country.mine)">
            {{ country.name }}
          </h5>
          <button *ngIf="!country.mine" class="request-button" (click)="makeRequestForMarket(country.code)">Request
            access</button>
          <ul class="subnav">
            <li *ngFor="let brand of brands">
              <span>
                <a [routerLink]="getRoute(brand)">
                  {{ brand.name }}
                </a>
              </span>
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
