@import '~scss/colors';

.api-icon {
  height: 100% !important;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-left: auto;
  margin-right: 10px;

  letter-spacing: 3.44px;
  text-transform: uppercase;
  color: $gray-3;
  font-size: 10px;

  .mat-icon {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
