@import '~scss/colors';
@import '~scss/mixins';

.campaign-info {
  @include component-border;
  @include component-shadow;

  padding: 20px;
  padding-right: calc(10% + 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 14px;
  line-height: 22px;

  &__element {
    display: flex;
    flex-direction: column;
    color: $primary;
    line-height: 134%;
    letter-spacing: 0.44px;

    &__header {
      color: $secondary-gray;
    }

    &-wrapper {
      display: flex;
      flex-direction: row;

      .campaign-info__element {
        max-width: 100%;
      }

      img {
        width: 40px;
        height: 40px;
        margin-right: 12px;
      }
    }
  }
}
