<div class="actions">
  <button
    mat-raised-button
    color="accent"
    class="actions__add-button"
    (click)="openAddProductsDialog()">
    <div class="icon-wrapper">
      <mat-icon data-position="prefix">add</mat-icon>
    </div>
    Add products
  </button>
</div>

<div *ngIf="productsError$ | async">
  <h3>Error occurred while downloading your products:</h3>
  <p>
    {{ productsError$ | async }}
  </p>
</div>

<mat-tab-group class="products-wrapper">
  <mat-tab>
    <ng-template mat-tab-label>
      <span>
        Brand<span class="counter"> ({{getProductsOfTypeLength(productTypes.BRAND) | async}})</span>
      </span>
    </ng-template>
    <app-loading-spinner *ngIf="(loadingProducts$ | async) && !(products$ | async).length"></app-loading-spinner>
    <app-products-list
      [products]="(products$ | async) | filter: { type: productTypes.BRAND } | sortByCreation"
      (openAddProductModal)="openAddProductsDialog()">
    </app-products-list>
  </mat-tab>

  <mat-tab *ngIf="isApiSupported">
    <ng-template mat-tab-label>
      <span>
        Competitors<span class="counter"> ({{getProductsOfTypeLength(productTypes.COMPETITOR) | async}})</span>
      </span>
    </ng-template>
    <app-products-list
      [products]="(products$ | async) | filter: { type: productTypes.COMPETITOR } | sortByCreation"
      (openAddProductModal)="openAddProductsDialog()"
      [hide-columns]="['retail-health', 'priority']"></app-products-list>
  </mat-tab>
</mat-tab-group>

<div class="products-nav-buttons">
  <button mat-stroked-button color="primary" type="button" (click)="redirect('campaigns')">
    <mat-icon matPreffix data-position="prefix" svgIcon="back_arrow"></mat-icon>
    Campaigns
  </button>
  <div>
    <button mat-stroked-button color="primary" type="button" (click)="redirect('details')">
      <mat-icon matPrefix data-position="prefix">chevron_left</mat-icon>
      Prev
    </button>
    <button mat-raised-button color="accent" [disabled]="(currentCampaign$ | async)?.step < 2" type="button"
      (click)="redirect('keywords')">
      Next
      <mat-icon matSuffix data-position="suffix">chevron_right</mat-icon>
    </button>
  </div>
</div>

<div class="error-container" *ngIf="productsLength !== 0 && !isAtLeastOneProductAPriority">
  <p>Please select at least one product as a priority.</p>
</div>
