@import '~scss/colors';
@import '~scss/mixins';
@import '~scss/variables';

app-campaign-strategy {
  app-loading-spinner {
    .spinner {
      margin: 44px auto;
    }
  }
  .campaign-strategy {
    @include component-shadow;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    border: 1px solid $border;

    app-campaign-strategy-chart {
      .chart-container {
        height: 253px;
      }
    }

    &__choice {
      display: flex;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);

      &__preview {
        display: flex;
        justify-content: center;
        width: 60px;

        background: $background;
        border: 1px solid $border;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;

        cursor: pointer;

        .mat-icon {
          align-self: center;
          width: 18px;
          height: 18px;
          font-size: 18px;
          color: $secondary-gray;
        }

        &:hover {
          .mat-icon {
            color: $secondary;
          }
        }
      }

      &__edit {
        display: flex;
        justify-content: center;

        border-top: 1px solid $border;
        border-bottom: 1px solid $border;

        color: $secondary-gray;
        .mat-icon {
          width: 14px;
          height: 14px;
          font-size: 14px;
          align-self: center;
          margin-right: 20px;
          cursor: pointer;
          &:hover {
            color: $secondary;
          }
        }
      }

      &__selectors {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .mat-radio-label-content {
          display: flex;

          mat-icon {
            cursor: pointer;
            width: 14px;
            height: 14px;
            font-size: 14px;
            margin: auto 0 auto 9px;

            &:hover {
              color: $secondary;
            }
          }
        }

        mat-radio-button {
          padding: 19px 0;
          border: 1px solid $border;
          border-left: 0;
          font-size: 14px;
          line-height: 135%;

          letter-spacing: 0.44px;
          width: 100%;
          text-align: center;
          box-shadow: none;

          transition: color 200ms ease-in, box-shadow 400ms ease-in;

          .mat-radio-outer-circle {
            border-color: $border;
          }

          &:first-child {
            border-left: 1px solid $border;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
          }

          &:last-child {
            border-right: none;
          }

          &:hover {
            color: $secondary;
            transition: color 200ms ease-out;

            .mat-radio-outer-circle {
              border-color: $secondary;
            }
          }

          &.mat-radio-disabled {
            .mat-radio-outer-circle {
              border-color: $border;
            }

            &:hover {
              .mat-radio-outer-circle {
                border-color: $border;
              }
            }
          }

          &.mat-radio-checked {
            border: 1px solid $secondary;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
            color: $secondary;
            transition: box-shadow 400ms ease-out;
          }

          .mat-radio-container {
            width: 16px;
            height: 16px;

            .mat-radio-outer-circle, .mat-radio-inner-circle {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }

    &__values {
      display: flex;
      flex-direction: column;
      width: 60%;
      padding: 20px;

      &__select {
        width: 100%;
        margin-bottom: 16px;

        &__header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;
          align-items: center;

          &__label {
            font-size: 14px;
            letter-spacing: 0.44px;
            line-height: 157%;
          }

          &__description {
            font-size: 10px;
            line-height: 160%;
            letter-spacing: 1.5px;
            color: $secondary-gray;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.strategy-chart {
  width: 40%;
  padding: 22px 20px 0 0;
  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 9px;

    app-campaign-strategy-chart-legend {
      width: 60%;
      align-self: center;
    }
  }
}

.keywords-nav-buttons {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;

  &> div .mat-stroked-button {
    margin-right: 20px;
  }
}
