@import '~scss/colors';
@import '~scss/mixins';

:host {
  display: flex;
  flex-direction: column;
}

.keywords-list {
  overflow-y: auto;
}

.product-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: $background;
  display: inline-block;
  border: 1px solid $border;
  margin-left: -15px;

  &.priority {
    border: 1px solid $yellow;
  }
}

.search-field  {
  margin-top: 15px;
}

.mat-column-cpc .mat-form-field {
  margin-left: 15px;
}

.mat-header-cell.mat-column-products {
  min-width: 300px;
  white-space: nowrap;
}

.products-wrapper {
  margin-left: 16px;
  display: flex;
  flex-wrap: wrap;
}

.add-assigned-products {
  margin-left: -20px;
}

.currency-cell {
  color: $secondary-gray;
}

.mat-column {
  &-keyword-name {
    @include table-grid-column(4);

    .mat-form-field {
      width: 100%;
    }
  }

  &-search-volume {
    @include table-grid-column(1);

    .mat-form-field {
      width: 50%;
      min-width: 60px;

      @include stepper-remover();
    }
  }

  &-products {
    @include table-grid-column(3);
  }

  &-arh {
    @include table-grid-column(1);
  }

  &-ctr {
    @include table-grid-column(1);

    .mat-form-field {
      width: 45%;
      min-width: 54px;
    }
  }

  &-cpc {
    @include table-grid-column(1);

    .mat-form-field {
      width: 45%;
      min-width: 54px;
    }
  }

  &-delete-button {
    @include table-grid-column(1);
  }
}

.delete-button-wrapper {
  display: flex;
  justify-content: flex-end;

  .mat-icon {
    color: $secondary-gray;

    &:hover {
      color: $secondary;
    }
  }
}

.cpc-wrapper {
  display: flex;
  align-items: center;
}

.add-keyword-row {
  background-color: $background;
  border: 1px dashed $border;
  border-radius: 2px;
  height: 64px;
  width: calc(100% - 24px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 24px;

  p {
    color: $secondary-gray;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }
}

.set-default-ctr-icon {
  vertical-align: middle;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: $secondary-gray;
  cursor: pointer;
  transition: color 100ms ease-in, transform 100ms ease-in;
  transform: rotate(0);
  &:hover {
    transition: color 100ms ease-out, transform 100ms ease-in;
    color: $secondary;
  }

  &.active {
    transition: transform 200ms ease-out;
    transform: rotate(45deg);
    color: $secondary;
  }
}

.default-value-dialog {
  @include component-border;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.24);
  width: 240px;
  padding: 20px;
  font-size: 14px;
  line-height: 18px;
  position: fixed;
  background: $white;
  z-index: 101;

  &__bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }

  &:before {
    display: block;
    content: "";
    width: 0;
    top: -7px;
    right: calc(50% - 7.5px);
    position: absolute;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 7px 7.5px;
    border-color: transparent transparent $border transparent;
  }
  &:after {
    display: block;
    content: "";
    width: 0;
    top: -6px;
    right: calc(50% - 7.5px);
    position: absolute;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 7px 7.5px;
    border-color: transparent transparent $white transparent;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;

    margin-bottom: 16px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    mat-form-field {
      width: 50px;
      height: 40px;
      box-shadow: none;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number] {
        -moz-appearance:textfield;
      }
    }

    button {
      min-width: 120px !important;
    }
  }
}
