@import '~src/scss/variables';

.user-menu {
  padding: 20px 35px;

  &__section {
    width: 100%;
    display: flex;
    flex-direction: column;

    &:not(:first-of-type) {
      margin-top: 25px;
    }

    &-header {
      @include typography_caption;
      font-weight: 500;
      color: $wmGrey3;
      margin-bottom: 15px;
    }

    &-element, a {
      @include typography_body_1;
      cursor: pointer;
      color: $wmGrey8;
      text-decoration: none;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
