@mixin component-shadow {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

@mixin component-border {
  border: 1px solid $border;
  padding: 20px;
}

@mixin material-icon {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

// $numberOfColumns - how much columns in grid should this table column take
// $columnsInGrid - very optional, specifies how much columns we have in grid, default: 12
// and you probably won't need to set this
@mixin table-grid-column($numberOfColumns: 1, $columnsInGrid: 12) {
  $columnsRatio: percentage($numberOfColumns / $columnsInGrid);
  width: $columnsRatio;
}


// removes stepper from input[type="number"], has to be applied on parent
@mixin stepper-remover() {
  input[type=number] {
    // firefox
    -moz-appearance:textfield;

    // family of webkits browsers (chrome, opera etc)
    &::-webkit-inner-spin-button, ::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
    }
  }
}
