<div class="keywords-list fancy-scrollbar">
  <table mat-table [dataSource]="keywords" class="keywords-table">

    <!-- Full keyword nName Column -->
    <ng-container matColumnDef="keyword-name">
      <th mat-header-cell *matHeaderCellDef>
          <span matTooltip="Search keyword phrase">
            Keyword
          </span>
      </th>
      <td mat-cell *matCellDef="let keyword">
        {{ keyword.name || '-'}}
      </td>
    </ng-container>

    <!-- Products Column -->
    <ng-container matColumnDef="products">
      <th mat-header-cell *matHeaderCellDef>
          <span matTooltip="Selected products for this keyword's ad">
            Assigned Products
          </span>
      </th>
      <td mat-cell *matCellDef="let keyword">
        <div class="products-wrapper">
          <img
            class="products"
            src="../../assets/icons/icon-product.svg"
            *ngFor="let product of keyword.products | slice:0:5"
            [matTooltip]="product.name"
            [class.priority]="product.priority">
          <button *ngIf="keyword.products.length >= 5" (click)="openAllProductsDialog(keyword)" mat-mini-fab
                  class="add-assigned-products">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Search Volume Column -->
    <ng-container matColumnDef="search-volume">
      <th mat-header-cell *matHeaderCellDef matTooltip="Estimated average monthly search volume">Search Vol.</th>
      <td mat-cell *matCellDef="let keyword">
        {{ keyword.searchVolume | number:'':'fr-FR' || '-' }}
      </td>
    </ng-container>

    <!-- ARH Column -->
    <ng-container matColumnDef="arh">
      <th mat-header-cell *matHeaderCellDef matTooltip="Average Retail Health score of assigned products">
        ARH
      </th>
      <td mat-cell *matCellDef="let keyword">
        {{ keyword.arh || '-' }}
      </td>
    </ng-container>

    <!-- Target Imps Share -->
    <ng-container matColumnDef="target-imps-share">
      <th mat-header-cell *matHeaderCellDef matTooltip="How often we want to appear in search queries">
        <div>
          Target Imps Share
        </div>
      </th>
      <td mat-cell *matCellDef="let keyword">
        {{ (keyword.targetImpsShare | percent) || '-' }}
      </td>
    </ng-container>

    <!-- Impressions column -->
    <ng-container matColumnDef="impressions">
      <th mat-header-cell *matHeaderCellDef matTooltip="Estimated number of times the ad will be shown to user">
        Impressions
      </th>
      <td mat-cell *matCellDef="let keyword">
        {{ keyword.impressions | number:'':'fr-FR' || '-' }}
      </td>
    </ng-container>

    <!-- CTR column -->
    <ng-container matColumnDef="ctr">
      <th mat-header-cell *matHeaderCellDef>
          <span matTooltip="Estimated Click Through Rate">
            CTR
          </span>
      </th>
      <td mat-cell *matCellDef="let keyword">
        {{ keyword.ctr }}%
      </td>
    </ng-container>

    <!-- Clicks column -->
    <ng-container matColumnDef="clicks">
      <th mat-header-cell *matHeaderCellDef matTooltip="Estimated number of clicks received by an ad">Clicks</th>
      <td mat-cell *matCellDef="let keyword">
        {{ keyword.clicks | number:'0.0-0':'fr-FR' || '-' }}
      </td>
    </ng-container>

    <!-- CPC column -->
    <ng-container matColumnDef="cpc">
      <th mat-header-cell *matHeaderCellDef>
          <span matTooltip="Estimated Cost Per Click">
            CPC
          </span>
      </th>
      <td mat-cell *matCellDef="let keyword">
        <div>
            <span class="currency-cell">
              {{ (currentCampaignCurrency$ | async)?.acronym }}
            </span>
          <span>
              {{ keyword.cpc | number:'0.0-2' || '-' }}
            </span>
        </div>
      </td>
    </ng-container>

    <!-- Budget column -->
    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef>
          <span matTooltip="Planned monthly spend">
            Budget
          </span>
      </th>
      <td mat-cell *matCellDef="let keyword">
        <div>
            <span class="currency-cell">
              {{ (currentCampaignCurrency$ | async)?.acronym }}
            </span>
          <span>
              {{ keyword.budget | number:'0.0-0':'fr-FR' || '-' }}
            </span>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <app-table-message-row
    *ngIf="(keywords.length === 0)"
    message="There are no keywords specified."></app-table-message-row>
</div>
