@import 'src/scss/variables';
@import 'src/scss/typography';

mat-drawer {
  position: fixed;
  width: 38.75vw;
  background-color: $wmBlue5;
}


.header {
  padding: 24px 24px 0;
  display: flex;
  flex-direction: row-reverse;
  color: $wmWhite;

  .close-btn {
    color: $wmWhite;
    background: none;
    border: 0;
    outline: none;
  }
}

.container {
  color: $wmWhite;
  padding: 0 40px 40px;
  h4 {
    @include typography_heading_4;
  }

  h3 {
    @include typography_heading_3;
  }

  .dot {
    height: 25px;
    width: 25px;
    background-color: $wmWhite;
    border-radius: 50%;
    display: inline-block;
  }

  button {
    width: 92px;
    height: 24px;
    background: $wmOrange4;
    color: $wmWhite;
    border: 0;
    border-radius: 12px;
    @include typography_overline;
  }

  .big-thumbnail {
    background: $wmGrey3;
    max-width: 90%;
    height: auto;
    min-height: 200px;
  }

  .list-element {
    display: flex;
    flex-direction: row;
    margin-top: 28px;

    .thumbnail {
      background: $wmGrey3;
      height: auto;
      max-width: 160px;
      min-width: 160px;
      min-height: 90px;
    }

    .element-text {
      padding-left: 20px;
    }

    h6 {
      @include typography_heading_6;
      margin: 0;
    }

    p {
      font-family: "Gothic A1", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.25px;
      color: $wmGrey2;
    }
  }

}
